In [1]:
# Tasks:
# Download a data set
# Read the data set
# We need to determine what is x and y
# Train, Test, Split
# Train the model
# Predict it

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Cities with the Best Work-Life Balance 2022.csv')

In [4]:
df.head()

,2022,2021,City,Country,Remote Jobs,Overworked Population,Minimum Vacations Offered (Days),Vacations Taken (Days),Unemployment,Multiple Jobholders,...,Healthcare,Access to Mental Healthcare,Inclusivity & Tolerance,Affordability,"Happiness, Culture & Leisure",City Safety,Outdoor Spaces,Air Quality,Wellness and Fitness,TOTAL SCORE
0,1,2,Oslo,Norway,41.72%,11.20%,25,25,94.7,9.10%,...,100.0,85.0,93.2,59.4,88.8,86.5,95.6,97.5,65.7,100.00
1,2,-,Bern,Switzerland,44.86%,11.40%,20,25,99.8,7.60%,...,99.6,78.6,94.6,69.9,100.0,91.8,87.1,100.0,69.1,99.46
2,3,1,Helsinki,Finland,38.92%,12.70%,25,30,89.3,6.30%,...,96.7,73.0,93.9,65.0,96.3,94.9,86.0,97.0,68.3,99.24
3,4,3,Zurich,Switzerland,44.86%,11.90%,20,25,99.2,7.60%,...,99.2,78.6,87.5,71.6,91.5,92.8,84.0,96.2,68.7,96.33
4,5,5,Copenhagen,Denmark,41.42%,10.50%,25,28,94.8,7.60%,...,94.8,77.6,95.2,65.3,92.5,95.7,75.5,95.1,66.3,96.21

In [5]:
# df.dtypes[column] == object

In [6]:
columns = df.columns.tolist()

In [7]:
columns

['2022',
 '2021',
 'City',
 'Country',
 'Remote Jobs',
 'Overworked Population',
 'Minimum Vacations Offered (Days)',
 'Vacations Taken (Days)',
 'Unemployment',
 'Multiple Jobholders',
 'Inflation',
 'Paid Parental Leave (Days)',
 'Covid Impact',
 'Covid Support',
 'Healthcare',
 'Access to Mental Healthcare',
 'Inclusivity & Tolerance',
 'Affordability',
 'Happiness, Culture & Leisure',
 'City Safety',
 'Outdoor Spaces',
 'Air Quality',
 'Wellness and Fitness',
 'TOTAL SCORE']

In [8]:
objectcolumns = []
for i in columns:
    if df.dtypes[i] ==  object:
        objectcolumns.append(i)

In [9]:
objectcolumns

['2021',
 'City',
 'Country',
 'Remote Jobs',
 'Overworked Population',
 'Vacations Taken (Days)',
 'Multiple Jobholders',
 'Inflation',
 'Paid Parental Leave (Days)']

In [10]:
# method 2

In [11]:
 objectcolumns2 = list(df.select_dtypes(include = ['object']).columns)

In [12]:
objectcolumns2

['2021',
 'City',
 'Country',
 'Remote Jobs',
 'Overworked Population',
 'Vacations Taken (Days)',
 'Multiple Jobholders',
 'Inflation',
 'Paid Parental Leave (Days)']

In [13]:
df.drop(objectcolumns2, axis = 1, inplace = True )

In [14]:
df.shape

(100, 15)

In [15]:
x = df.drop('TOTAL SCORE',axis = 1)

In [16]:
x

,2022,Minimum Vacations Offered (Days),Unemployment,Covid Impact,Covid Support,Healthcare,Access to Mental Healthcare,Inclusivity & Tolerance,Affordability,"Happiness, Culture & Leisure",City Safety,Outdoor Spaces,Air Quality,Wellness and Fitness
0,1,25,94.7,88.2,93.0,100.0,85.0,93.2,59.4,88.8,86.5,95.6,97.5,65.7
1,2,20,99.8,82.2,91.4,99.6,78.6,94.6,69.9,100.0,91.8,87.1,100.0,69.1
2,3,25,89.3,85.0,99.7,96.7,73.0,93.9,65.0,96.3,94.9,86.0,97.0,68.3
3,4,20,99.2,82.0,91.4,99.2,78.6,87.5,71.6,91.5,92.8,84.0,96.2,68.7
4,5,25,94.8,84.5,98.5,94.8,77.6,95.2,65.3,92.5,95.7,75.5,95.1,66.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,6,99.2,85.2,88.9,75.7,79.7,73.5,50.0,65.8,27.8,70.1,84.0,65.4
96,97,10,79.6,61.9,72.9,62.5,50.0,79.5,55.5,75.8,17.4,76.9,88.0,61.9
97,98,8,94.9,78.1,77.3,66.7,74.3,57.0,70.5,59.5,47.2,62.2,84.8,59.7
98,99,30,100.0,100.0,50.0,69.4,52.2,50.0,78.0,79.2,97.9,50.0,50.0,58.6
99,100,15,50.0,50.0,79.1,50.0,65.0,89.7,71.6,59.6,1.0,87.6,94.5,50.0

In [17]:
y = df['TOTAL SCORE']

In [18]:
y

0     100.00
1      99.46
2      99.24
3      96.33
4      96.21
       ...
95     70.73
96     66.57
97     66.02
98     61.23
99     50.00
Name: TOTAL SCORE, Length: 100, dtype: float64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,train_size = 0.8)

In [21]:
xtrain.shape

(80, 14)

In [22]:
xtest.shape

(20, 14)

In [23]:
ytrain.shape

(80,)

In [24]:
ytest.shape

(20,)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
model = LinearRegression()

In [27]:
model.fit(xtrain,ytrain)

LinearRegression()

In [28]:
ypredict = model.predict(xtest)

In [29]:
ypredict

array([83.27511317, 85.78236576, 80.95817414, 79.81405577, 84.762857  ,
       83.21441001, 91.38537786, 86.4227723 , 91.67839144, 86.91554513,
       90.08004262, 86.54523548, 83.2448744 , 78.40614244, 90.63099777,
       95.4667164 , 89.11557219, 92.43805692, 94.93561903, 69.95796629])

In [30]:
ytest

64    83.33
62    83.66
81    80.87
85    79.90
55    84.31
66    83.15
27    89.73
52    84.62
23    90.68
42    86.01
44    85.66
40    87.10
59    84.06
88    79.47
19    91.06
7     94.04
31    88.38
14    92.45
6     95.51
94    73.15
Name: TOTAL SCORE, dtype: float64

In [31]:
from sklearn.metrics import r2_score

In [32]:
print((r2_score(ytest,ypredict)*100).round(2),'%')

91.6 %